/build
/classes
*.class
*~
*/web-app/gwt
*/web-app/WEB-INF/classes
target
.gwt/
gwt-unitCache/
www-test/
war/firebase/.junit_symbolMaps/
test-classes/
war/WEB-INF/classes/
.DS_Store
out/
bin/
.Trashes
*.swp
*.lock
*~.nib
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*.moved-aside
