/build
/classes
*.class
*~
*/web-app/gwt
*/web-app/WEB-INF/classes
target
.gwt/
gwt-unitCache/
www-test/
war/noughts/.junit_symbolMaps/
test-classes/
war/WEB-INF/classes/.gitignore
war/WEB-INF/classes/
xtend-gen/
